PORT=xxxx
MONGODB_URL=xxx
JWT_SECRET=xxx
SEND_GRID_API_KEY=xxx
SEND_GRID_EMAIL=urldevreacttimes@gmail.com
SEND_GRID_REGISTER_TEMPLATE_ID=d-e94cf43d63c548acb6389b1da8bc3313
SEND_GRID_DELETE_TEMPLATE_ID=d-db1cedcd241a491cb45c7f8e9cba5fac
API_URL=xxx